@import "https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap";
@import url("https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap");

/* CSS Global variables */
:root {
  --color-accent--1: #48cfcb;
  --color-accent--2: #229799;
  --color-accent--3: #5ea4fb;
  --color-accent--4: #2d79f3;
  --color-accent--5: #364f6b;
  --color-accent--6: #253649;

  --color-dark--0: #242424;
  --color-dark--1: #333333;
  --color-dark--2: #424242;
  --color-dark--3: #595c5f;
  --color-dark--4: #8b8e98;
  --color-light--0: #ffffff;
  --color-light--1: #f5f5f5;
  --color-light--2: #e8e8e8;
  --color-light--3: #e5e5e5;
  --color-light--4: #efefef;

  --color-error-0: #721c24;
  --color-error-1: #f5c6cb;
  --color-error-2: #f8d7da;

  /* fonts */
  --fs-100: clamp(0.66rem, calc(0.6rem + 0.25vw), 0.8rem);
  --fs-200: clamp(0.78rem, calc(0.71rem + 0.35vw), 0.96rem);
  --fs-300: clamp(0.94rem, calc(0.84rem + 0.51vw), 1.2rem);
  --fs-400: clamp(1.13rem, calc(0.98rem + 0.73vw), 1.5rem);
  --fs-500: clamp(1.94rem, calc(1.56rem + 1.92vw), 2.93rem);
  --fs-600: clamp(2.8rem, calc(2.11rem + 3.47vw), 4.58rem);
  --lh-1: 1;
  --lh-1-1: 1.1;
  --lh-1-4: 1.4;

  /* utils */
  --space-xs: 8px;
  --space-sm: 16px;
  --space-md: 24px;
  --space-lg: 32px;
  --space-xl: 40px;
  --content-sm: 40ch;
  --content: 60ch;
  --round-xs: 4px;
  --round-sm: 6px;
  --round-md: 10px;
  --round-lg: 25px;
  --round-full: 100vmax;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: var(--color-light--1);
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

/* typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: var(--lh-1);
}

h1,
.h1 {
  font-size: var(--fs-600);
}

h2,
.h2 {
  font-size: var(--fs-500);
}

h3,
.h3 {
  font-size: var(--fs-400);
}

h5,
.h5 {
  font-size: var(--fs-300);
}

h5,
.h5 {
  font-size: var(--fs-200);
}

p,
.p {
  font-size: var(--fs-100);
}

/* text color class */
.accent-1 {
  color: var(--color-accent--1);
}
.accent-2 {
  color: var(--color-accent--2);
}
.accent-3 {
  color: var(--color-accent--3);
}
.accent-4 {
  color: var(--color-accent--4);
}
.accent-5 {
  color: var(--color-accent--5);
}
.accent-6 {
  color: var(--color-accent--6);
}
